.App {
  text-align: center;
  background-color: #222;
  min-height: 100vh;
}

.App-header {
  min-height: 100px;
  padding-top: 20px;
  color: white;
}

.options {
    height: 50px;
    font-size: 1em;
    color: whitesmoke;
    border: 1px solid #333;
    cursor: pointer;
}

.optionsName {
    padding-top: 12px;
}


.contacts {
    background-color: #333;
}

.favorites {
}

.entries {
    color: whitesmoke;
    border: 1px solid #333;
}

.floatingBtn {
    right: 10px;
    bottom: 10px;
    position: fixed;
    cursor: pointer;
}
.v {
    list-style-type: none;
}

ol > li {
    padding-top: 20px;
    height: 40px;
    font-size: .9em;
    font-family: "open sans";
    width: 75vw;
    text-align: left;
}

.favBtn {
    text-align: right;
    cursor: pointer;
}
.contactsSection {
}

.favoritesSection {
}

.inputBox {
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: .9em;
    font-family: "open sans";
    color: whitesmoke;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
